@charset "utf-8";

/* ==========================================================================
   헤더 header
   ========================================================================== */
.top-column .header {
  min-width: 1240px;
  border-bottom: 1px solid #dddddd;
  position:relative;
}
.top-area .gnb-list a {color:#fff;}

/* ==========================================================================
   유저메뉴 userMenu
   ========================================================================== */
.top-area {
  width: 100%;
  height: 32px;
  display: block;
  padding: 23px 0 23px 0;
  background-color: #000000;
}
.top-area > .wrapper {
  float: left;
}
.top-area h1.title {
  margin: 0 0 0 20px;
  float: left;
  width:5255px;
  height:19px;
  padding:0;
  top:6px;
}
.top-area .gnb {
  float: right;
  margin-right: 33px;
  line-height: 32px;
}
.top-area .gnb .gnb-list li {
  font-size: 18px;
  font-weight: bold;
  float: left;
  position: relative;
}
.top-area .gnb .gnb-list li a {
  padding: 0 9px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 14px;
  *line-height: 16px;
}
.top-area .gnb .gnb-list li a:hover {
  text-decoration: none;
}
.top-area .gnb .gnb-list li:first-child a {
  padding-left: 0;
  border-left: none;
}
.top-area .gnb .gnb-list li.snap .hoverTarget {
  width: 131px;
  left: -38px;
}
.top-area .gnb .gnb-list li.db .hoverTarget {
  width: 78px;
  left: -13px;
}
.top-area .gnb .gnb-list li.news .hoverTarget {
  width: 78px;
  right: -11px;
}
.top-area .gnb .gnb-list li.store .hoverTarget {
  width: 132px;
  left: -30px;
}
.top-area .gnb .gnb-list li .hoverTarget {
  padding-top: 6px;
  font-size: 16px;
  color: #000000;
  position: absolute;
  z-index: 2000;
}
.top-area .gnb .gnb-list li .hoverTarget li {
  background-color: #ffffff;
  width: 100%;
  height: 44px;
  line-height: 44px;
  border: 1px solid #dddddd;
  margin-bottom: -1px;
  text-align: center;
}
.top-area .gnb .gnb-list li .hoverTarget li a {
  width: 100%;
  height: 100%;
  line-height: 44px;
  border-left: none;
  padding: 0;
  color:#000;
}
.top-area .gnb .gnb-list li .hoverTarget li:hover {
  background-color: #f3f3f3;
}