@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Permanent+Marker&family=Roboto:ital,wght@0,300;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*맨위 배너 부분*/

header 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
}


header.sticky
{
    background: #000;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header .logo 
{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

header.sticky .logo
{
    color: #111;
}

header ul 
{
    position: relative;
    display: flex;
}
header ul li 
{
    position: relative;
    list-style: none;
}
header ul li a
{
    position: relative;
    display: inline-block;
    margin: 0 30px 0 0;
    color: #fff;
    text-decoration: none;
}

header.sticky ul li a
{
    color: #111;
}

/* 맨위 배너 부분 끝*/

section 
{
    padding:100px;
}

/* 남자 이미지 및 배경*/
.banner
{
    position:relative;
    min-height: 100vh;
    background: url(./../../images/banner.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 메인 첫 페이지 왼쪽 글자 부분*/
.banner h2 
{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}
.banner h2 span 
{
    font-size: 1.5em;
    font-weight: 700;
}
.banner h3 
{
    font-size: 1.5em;
    color: #fff;
    font-weight: 700;
}
.btn 
{
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 600;
}
/* 메인 첫 페이지 부분 끝*/

/* 두번째 페이지*/

.font
{
    position: absolute;
    margin-bottom: 600px;
    font-size: 3.0em;
    font-weight: 700;
    color: #fff;
    font-family: 'Hurricane', cursive;
    font-family: 'Permanent Marker', cursive;
}

.about
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background: #262626;
}

.container
{
    position: relative;
    display:flex;
    -webkit-box-reflect: below 1px linear-gradient(
        transparent,transparent,transparent,#0004
    );
}

.container .box
{
    position: relative;
    width: 320px;
    height: 400px;
    background: #444;
    margin: 0 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    background: linear-gradient(45deg, #2da2ff 25%, #444 25%,
    #444 50%, #2da2ff 50%, #2da2ff 75%, #444 75%, #444 100%);
    background-size: 60px 60px;
    filter: grayscale(1);
    animation: animateBg 2.5s linear infinite;
    animation-play-state: paused;
    transition: filter 0.5s;
}

.container .box img
{
    position: absolute;
    bottom: 0;
    height: 90%;
    transition: height 0.5s;
}

.container .box:hover img
{
    height: 400px;
}

.container .box:hover
{
    animation-play-state: running;
    filter: grayscale(0);
}

.container .box:nth-child(2)
{
    background: linear-gradient(135deg, #ffeb87 25%, #444 25%,
    #444 50%, #ffeb87 50%, #ffeb87 75%, #444 75%, #444 100%);
    background-size: 60px 60px;
}

.container .box:nth-child(3)
{
    background: linear-gradient(45deg, #9fffb7 25%, #444 25%,
    #444 50%, #9fffb7 50%, #9fffb7 75%, #444 75%, #444 100%);
    background-size: 60px 60px;
}

.container .box:nth-child(4)
{
    background: linear-gradient(135deg, #f389cf 25%, #444 25%,
    #444 50%, #f389cf 50%, #f389cf 75%, #444 75%, #444 100%);
    background-size: 60px 60px;
}


@keyframes animateBg
{
    0%{
        background-position: 0;
    }
    0%
    {
        background-position: 40px;
    }
}

/*세번째 페이지*/
.services
{
    background: rgb(61, 59, 59);
}

.heading.white
{
    color: #fff;
}
.services .content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.services .content .servicesBx
{
    padding: 40px 20px;
    background: rgb(85, 76, 76);
    color: #fff;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}

.services .content .servicesBx:hover
{
    background: #72baf6;
}

.services .content .servicesBx img
{
    max-width: 80px;
    filter: invert(1);
}
